.circular-text-container {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  cursor: pointer;
  animation: rotateCircle 12s linear infinite;
}

.circular-svg {
  width: 100%;
  height: 100%;
}

@keyframes rotateCircle {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
